<div class="col-xl-3 col-sm-6 mb-3">
  <div class="card text-white <%= class_color_port(port) %> o-hidden h-100">
    <div class="card-header">
      <%= icon('far', icon_port(port), t('.card.title'),class: 'fa-fw h5 mb-0') %>
    </div>
    <div class="card-body">
      <div class="card-body-icon">
        <%= icon('fas', 'ethernet', class: 'fa-fw') %>
      </div>
      <div class="mr-5"><%= t('.card.name', port_number: port.number) %></div>
    </div>
    <%=link_to(port_path(port, back_to_swith: back_to_swith.present?), class: 'card-footer text-white clearfix small z-1') do%>
      <span class="float-left"><%= t('.card.details') %></span>
      <span class="float-right">
        <%= icon('fas', 'angle-right') %>
      </span>
    <% end %>
  </div>
</div>
