<div class="card mb-3">
  <div class="card-header">
    <%= icon('fas','home', class: 'fa-fw h2') %>
    <span class="h4">
      <%= t('.title', port_number: @port.number) %>
    </span>
    <%= link_to(t('.delete'), @port, method: :delete, class: "btn btn-danger float-right") %>
  </div>
  <div class="card-body">
    <%= form_with(model: @port, local: true) do |form| %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label(:number) %>
          <%= form.number_field(:number, disabled: true, class: "form-control") %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label(:switch_id) %>
          <%= form.select(:switch_id, current_user.account.switches.collect { |switch| [switch.name, switch.id] }, {}, class: "form-control", disabled: true) %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="checkbox">
            <%= form.label(:editabled) %>
            <%= form.check_box(:editabled, disabled: true) %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="checkbox">
            <%= form.label(:enabled) %>
            <%= form.check_box(:enabled, disabled: true) %>
          </div>
        </div>
      </div>

      <div class="float-right">
        <%= link_to(t('.back'), switches_path(@port.switch), class: "btn btn-primary") %>
        <%= link_to(t('.edit'), edit_port_path(@port), class: "btn btn-primary") %>
      </div>
    <% end %>

  </div>
</div>
