<%= form_with(model: computer, local: true) do |form| %>
  <%= render("messages/errors_messages", record: computer) %>

  <div class="form-group row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label(:name) %>
        <%= form.text_field(:name, autofocus: true, class: "form-control") %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label(:mac_address) %>
        <%= form.text_field(:mac_address, autofocus: true, class: "form-control") %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label(:ip) %>
        <%= form.text_field(:ip, autofocus: true, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label(:room_id) %>
        <%= form.select(:room_id, current_user.account.rooms.collect { |room| [room.name, room.id] }, {include_blank: true}, class: "form-control") %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label(:switch) %>
        <%= form.select(:switch, current_user.account.switches.collect { |switch| [switch.name, switch.id] }, {include_blank: true}, class: "form-control") %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label(:port_id) %>
        <%= form.select(:port_id, Port.all.collect { |port| [port.number, port.id] }, {include_blank: true}, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label(:owner) %>
        <%= form.check_box(:owner) %>
      </div>
    </div>
  </div>

  <div class="float-right">
    <%= link_to(t('.back'), :back, class: "btn btn-primary") %>
    <%= form.submit computer.name.present? ? t('.edit.confirm') : t('.new.confirm'), class:"btn btn-success" %>
  </div>
<% end %>
