<div class="col-xl-3 col-sm-6 mb-3">
  <div class="card text-dark <%= class_color_user(user) %> o-hidden h-100">
    <div class="card-header">
      <%= icon('fas','user-circle', t('.card.title'), class: 'fa-fw h5 mb-0') %>
    </div>
    <div class="card-body">
      <div class="card-body-icon">
        <%= icon('fas','user-astronaut', class: 'fa-fw') %>
      </div>
      <div class="mr-5">
        <%= t('.card.name', user_name: user.name) %>
      </div>
    </div>
    <%=link_to(account_user_path(user), class: 'card-footer text-dark clearfix small z-1') do%>
      <span class="float-left"><%= t('.card.details') %></span>
      <span class="float-right">
        <%= icon('fas','angle-right') %>
      </span>
    <% end %>
  </div>
</div>
