<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <%= link_to('#', class:'nav-link') do %>
      <%= icon('far','address-card') %>
      <span> MENU <%= current_user.owner? ? "Admin" : "" %> </span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to(dashboard_index_path, class:'nav-link') do %>
      <%= icon('fas','undo-alt') %>
      <span>alguma coisa</span>
    <% end %>
  </li>

  <% if current_user.owner? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <%= icon('fas','key') %>
        <span>Admin</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="adminDropdown">
        <%= link_to(rooms_path, class:'dropdown-item') do %>
          <%= icon('fas','home') %>
          <span>Salas</span>
        <% end %>
        <%= link_to(switches_path, class:'dropdown-item') do %>
          <%= icon('fas','network-wired') %>
          <span>Switch</span>
        <% end %>
        <%= link_to(computers_path, class:'dropdown-item') do %>
          <%= icon('fas','laptop-code') %>
          <span>Switch</span>
        <% end %>
      </div>
    </li>
  <% end %>

  <li class="nav-item">
    <%= link_to(destroy_user_session_path, method: :delete, class:'nav-link') do %>
      <%= icon('fas','sign-out-alt') %>
      <span>Sair</span>
    <% end %>
  </li>
</ul>
